#data
tert_adaptation_plan/datadump.json

#python
tert_adaptation_plan/polls/__pycache__
tert_adaptation_plan/tert_adaptation_plan/__pycache__

#local settings
tert_adaptation_plan/tert_adaptation_plan/settings_instance.py

#client libraries
tert_adaptation_plan/polls/static/node_modules
tert_adaptation_plan/polls/static/node_modules2

#KDE
.directory
