 
tert_adaptation_plan/datadump.json
tert_adaptation_plan/polls/__pycache__
tert_adaptation_plan/tert_adaptation_plan/__pycache__
tert_adaptation_plan/tert_adaptation_plan/settings_instance.py
tert_adaptation_plan/polls/static/node_modules