<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    {% load staticfiles %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'ol/ol.css' %}" rel="stylesheet" />
        <link rel="import" href="search_text.html">
    
    <script src="{% static 'node_modules/requirejs/require.js' %}" data-main="{% static 'js/app.js' %}"></script>
    <script src="{% static 'node_modules/requirejs/require.js' %}" data-main="{% static 'js/init.js' %}"></script>
    
    
</head>
<body>
    
    
    <div id="map"><div id="popup"></div></div>
    
    <div id="app"><h1>Hello World</h1>
        
        <div id="logo"></div>
        
        <div id="form">
            
            <form action="{% url 'polls:map' %}" method="post" id="search">
                {% csrf_token %}
                {{ form.input }}
                <input type="submit" value="Поиск" class="submit" id="btn" >
            </form>
        
        </div>
        
    </div>




</body>
</html>