<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    {% load staticfiles %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'ol/ol.css' %}" rel="stylesheet" />
    <link rel="import" href="search_text.html">

    <script data-main="{% static 'js/app.js' %}" src="{% static 'node_modules/requirejs/require.js' %}"></script>
    <script data-main="{% static 'js/init.js' %}" src="{% static 'node_modules/requirejs/require.js' %}"></script>

    
</head>
<body>

    <div id="map"></div>
    
    <div id="app"><h1>Hello World</h1>
        <div id="logo"></div>
        <div id="form">
            <form action="{% url 'polls:map' %}" method="post" id="search">
                {% csrf_token %}
                {{ form.input }}
                <input type="submit" value="Поиск" class="submit">
            </form>
    </div>
    </div>
    
    


</body>
</html>