<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    {% load staticfiles %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'node_modules/ol/ol.css' %}" rel="stylesheet" />

    <script data-main="{% static 'js/app.js' %}" src="{% static 'node_modules/requirejs/require.js' %}"></script>
    <script data-main="{% static 'js/init.js' %}" src="{% static 'node_modules/requirejs/require.js' %}"></script>
    
</head>
<body>
    <div id="map"></div>
    <div id="app"></div>
    <div id="logo"></div>
    <div id="form">
        <input type="text">
        <button>Поиск</button>
    </div>
    <div class="list">
        <script id="script_list" type="text/template">
            <%= question_list %>
            <%= question_list.question_text %>
            <%= question_text %>
        </script>
    </div>
</body>
</html>