<script id="search_result" type="text/html">
        <div class="h1">
            <a id="close"></a>
            <h2>Результаты поиска</h2>
        </div>
    
        <div class="content" id="cont">
            <% if(objects_geo != 0) { %>
                <% for(var obj in objects_geo) { %>
                    <li><%= objects_geo[obj].question_text %></li>
                <% } %>
            <% } else { %>
                Результаты не найдены
            <% } %>
            
        </div>
</script>
