<script id="search_result" type="text/html">
        <div class="h1">
            <a id="close"></a>
            <h2>Результаты поиска</h2>
        </div>
        
        <div class="content" id="cont">
            <% if(objects_geo != 0) { %>
                <% for(var obj in objects_geo) { %>
                        <div class="li" id="li">
                            <%= objects_geo[obj].question_text %>
                            <!--<%= objects_geo[obj].geoQuest.coordinates %>-->
                        </div>
                        <div class="coord" id="coord">
                            Координаты: <%= objects_geo[obj].geoQuest.coordinates %>
                        </div>
                <% } %>
            <% } else { %>
                <div class="no_result">Результаты не найдены</div>
            <% } %>
        </div>
    
</script>